{% extends "app/base.html" %}

{% block content %}
    <h1 class="m-3">Главная</h1>

<!--    <table class="table">-->
<!--      <thead>-->
<!--        <tr>-->
<!--            {% for key in keys_list %}-->
<!--                <th scope="col">{{ key }}</th>-->
<!--            {% endfor %}-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->

<!--        {% for item in data_list %}-->
<!--        <tr>-->
<!--&lt;!&ndash;            {% for key in keys_list %}&ndash;&gt;-->
<!--&lt;!&ndash;                <td>{{ item. }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endfor %}&ndash;&gt;-->
<!--            <th scope="row">{{ item.ID }}</th>-->
<!--            <td>{{ item.Model }}</td>-->
<!--            <td>{{ item.Price }}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--      </tbody>-->
<!--    </table>-->
{% endblock %}